@font-face {
  font-family: 'Glory';
  src: url('../fonts/Gilroy-Regular.ttf');
}

h2 {
  color: rgb(45, 192, 40);
  font-family: 'Glory';
}
#c1 {
  background-image: url('../assets/setka-Model.png');
  height: 200px;
  width: 400px;
}
